.login-form
    display: flex
    flex-direction: column
    align-items: center

    .field
        display: flex
        flex-direction: column
        margin-bottom: 1rem

        label
            font-weight: bold
            margin-bottom: 0.5rem

        input
            padding: 0.5rem
            border: 1px solid #ccc
            border-radius: 4px
            font-size: 1rem
            width: 100%

    button
        padding: 0.5rem 1rem
        margin: 1em 0
        border-radius: 4px
        background-color: #DFDFDF
        border: 1px solid black
        color: base-color
        font-size: 1rem
        cursor: pointer
        transition: background-color 0.2s ease-in-out

        &:hover
            background-color: gray
            color: #DFDFDF
            border: 1px solid black

    a
        margin: 2em 0
        color: black
        text-decoration: underline
        font-size: 1.2rem
